/*
 * [ settings / colors ]
 */

// -----------------------------------------------------------------------------

// 1. Default color palette
// ====================================

$white: #ffffff;
$black: #000000;
$white-light: rgba(255, 255, 255, 0.25);

$gray: #d0d0d0;
$gray-lightest: #bcbcbc;
$gray-dark: darken($gray, 5%);
$gray-darker: darken($gray, 10%);
$gray-darkest: #373737;

$primary: #fb9669;
$primary-darkest: darken($primary, 25%);
$primary-darker: darken($primary, 20%);
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 10%);
$primary-lighter: lighten($primary, 20%);
$primary-lightest: lighten($primary, 25%);

$secondary: #3b3560;
$secondary-darkest: darken($secondary, 25%);
$secondary-darker: darken($secondary, 20%);
$secondary-dark: darken($secondary, 10%);
$secondary-light: lighten($secondary, 10%);
$secondary-lighter: lighten($secondary, 20%);
$secondary-lightest: lighten($secondary, 25%);

$background-lighter: #fffcef;
$background: #fff9e2;
$background-darker: #e7e0c5;
$date: #ced5db;
$date-light: rgba(206, 213, 219, 0.25);
$color-body: $white;
$color-text: $secondary;
$color-link: $primary;
$error: #ff2d2d;

/*
 * [ settings / layout ]
 */

// -----------------------------------------------------------------------------

$container-max-width: 1180px;

$grid-columns: 12;
$grid-gap: 16px;

/*
 * [ settings / miscellaneous ]
 */
$shadow--first: 0 4px 20px rgba(0, 0, 0, 0.15);
$shadow--second: 0 0 8px rgba(0, 0, 0, 0.15);
$shadow--third: 0 4px 8px rgba(0, 0, 0, 0.15);
$transition: 0.25s ease-out;
$radius: 8px;
